@model IEnumerable<Order>






<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>City</th>
            <th>ZipCode</th>
            <th>Phone</th>
            <th>OrderTotal</th>
            <th>OrderPlaced</th>
        </tr>
    </thead>

    <tbody>



        @foreach (var order in Model)
        {

            var test = 0;
            var test2 = 0;
            var test3 = 0;

            if (order.OrderPlaced == DateTime.Today)
            {
                @* test++;

        <h1>@test</h1>

        <tr>
        <td>@Html.DisplayFor(modelItem => order.OrderId)</td>
        <td>@Html.DisplayFor(modelItem => order.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => order.LastName)</td>
        <td>@Html.DisplayFor(modelItem => order.Address)</td>
        <td>@Html.DisplayFor(modelItem => order.City)</td>
        <td>@Html.DisplayFor(modelItem => order.ZipCode)</td>
        <td>@Html.DisplayFor(modelItem => order.Phone)</td>
        <td>@Html.DisplayFor(modelItem => order.OrderTotal)</td>
        <td>@Html.DisplayFor(modelItem => order.OrderPlaced)</td>
        </tr>*@
            }




            else if (order.OrderPlaced < DateTime.Today.Date.AddDays(1) && order.OrderPlaced > DateTime.Today.Date.AddDays(-8))
            {

                test2++;

                <h1>@test2</h1>

                <tr>
                    <td>@Html.DisplayFor(modelItem => order.OrderId)</td>
                    <td>@Html.DisplayFor(modelItem => order.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => order.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => order.Address)</td>
                    <td>@Html.DisplayFor(modelItem => order.City)</td>
                    <td>@Html.DisplayFor(modelItem => order.ZipCode)</td>
                    <td>@Html.DisplayFor(modelItem => order.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderTotal)</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderPlaced)</td>
                </tr>
            }


            else if (order.OrderPlaced < DateTime.Today.Date.AddDays(-8) && order.OrderPlaced > DateTime.Today.Date.AddDays(-31))
            {

                test3++;

                <h1>@test3</h1>



                <tr>
                    <td>@Html.DisplayFor(modelItem => order.OrderId)</td>
                    <td>@Html.DisplayFor(modelItem => order.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => order.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => order.Address)</td>
                    <td>@Html.DisplayFor(modelItem => order.City)</td>
                    <td>@Html.DisplayFor(modelItem => order.ZipCode)</td>
                    <td>@Html.DisplayFor(modelItem => order.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderTotal)</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderPlaced)</td>
                </tr>
            }
        }
    </tbody>
</table>









@*<h1>List of all orders.</h1>





<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>City</th>
            <th>ZipCode</th>
            <th>Phone</th>
            <th>OrderTotal</th>
            <th>OrderPlaced</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => order.OrderId)</td>
                <td>@Html.DisplayFor(modelItem => order.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => order.LastName)</td>
                <td>@Html.DisplayFor(modelItem => order.Address)</td>
                <td>@Html.DisplayFor(modelItem => order.City)</td>
                <td>@Html.DisplayFor(modelItem => order.ZipCode)</td>
                <td>@Html.DisplayFor(modelItem => order.Phone)</td>
                <td>@Html.DisplayFor(modelItem => order.OrderTotal)</td>
                <td>@Html.DisplayFor(modelItem => order.OrderPlaced)</td>
            </tr>
        }
    </tbody>
</table>



*@








@*<h4>Press here to get all orders from a specific date.</h4>



<title>Admission Form</title>
<script>
    function TESTdisplay() {
        const d = form1.date.value;

    }
</script>
<form name="form1">
    <label for="adm">Date of Admission:</label>
    <input type="date" name="date">
    <br>
    <input type="submit" value="Submit" onclick="TESTdisplay()">
</form>



<script>

document.write("<center><b>Date of Admission is " + d + "</b></center>");

</script>



@*<script>

    //var orders = [
    //    { name: "Tony Stark", department: "IT" },
    //    { name: "Peter Parker", department: "Pizza Delivery" },
    //    { name: "Bruce Wayne", department: "IT" },
    //    { name: "Clark Kent", department: "Editing" }
    //];

    var output = model.filter(order => order.OrderPlaced == d);
    for (var i = 0; i < output.length; i++) {
        document.write("<h2>", output[i].FirstName, "</h2>", "<br/>")
    };

</script>*@