@model Product

<div class="container-products">

<div class="img-thumbnail">
    <img src="@Model.ImageThumbnailUrl" alt="@Model.Name" />

    <div class="figure-caption">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>

    </div>
    <div class="addToCart">

        @if (Model.AmountOfCopiesInStorage > 0)
        {
            <p class="button">
                <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-ProductId="@Model.ProductId">ADD TO CART</a>
            </p>
        }

        else if (Model.AmountOfCopiesInStorage == 0)
        {
            <p class="button">
                <i class="fa-solid fa-circle-xmark"></i>
            </p>
            <h5 style="color:red">Out of stock</h5>
        }




       
    </div>

  </div>
</div>